
<BLOCK> for culture_group in eu4_cultures </BLOCK>
<BLOCK> for culture in culture_group </BLOCK>
    <VAR> culture.name + "_language"</VAR> = {
        male_names = <VAR> " ".join(culture.male_names)</VAR>
        female_names = <VAR> " ".join(culture.female_names)</VAR>
        dynasty_names = <VAR> "\" \"".join(culture.female_names)</VAR>
        culture_groups = {
            <VAR> " ".join(culture.female_names)</VAR>
        }
    }
<BLOCK> for culture in eu4_cultures </BLOCK>    
<BLOCK>endfor</BLOCK>